/* SearchPage */
/* grid grid-cols-5 gap-2 */

.grid_image_search{
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 0.5rem;
}
@media (min-width: 1150px) {
    .grid_image_search{
        display: grid;
        grid-template-columns: repeat(6, minmax(0, 1fr));
        gap: 0.5rem;
    }
}
@media (min-width: 1300px) {
    .grid_image_search{
        display: grid;
        grid-template-columns: repeat(7, minmax(0, 1fr));
        gap: 0.5rem;
    }
}
@media (min-width: 1600px) {
    .grid_image_search{
        display: grid;
        grid-template-columns: repeat(8, minmax(0, 1fr));
        gap: 0.5rem;
    }
}