
/*  Forminput */
.errorMessage {
    display: none;
}

input:invalid[focused='true'] ~ .errorMessage{
    display: block;
}
input:invalid[focused='true']{
    border: 1px solid red;
}


/* Navbar */

.a_navbar:hover {
    background-color: rgb(31, 31, 31);
}

.button_navbar:hover{
    background-color: rgb(31, 31, 31);
}

.p_navbar:hover{
    cursor: default;
}
@media (max-width: 650px) {
    .searchbar{
        display: none;
    }
}
@media (max-width: 330px) {
    .navbar_container{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }
    .link_container{
        flex-wrap: wrap;
    }
    .login_button{
        display: none;
    }
}
@media (max-width: 262px) {
    .logout_button{
        display: none;
    }
}
@media (max-width: 175px) {
    .courses_link{
        display: none;
    }
}

/* Dishes */

.image_dish:hover {
    cursor: pointer;
}

/* Searchbar */

